<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB IONO API</title>

</head>
<body>
    <h1 align = "center">WEB SHOW DATA API FLASK</h1>
    
    {% for row in datas %}
    <p> {{row.0}}</p>
    {% endfor %}

    
</body>
</html>